<!-- Descriptors -->
<meta charset='UTF-8' />
<meta name='description' content='{{ page.tags | join: ',' }}' />
<meta name='keywords' content='Brian To | {{ page.description }}' />
<meta name='author' content='Brian To' />

<!-- Load Googley Things - Fonts and jQuery -->
<link href='http://fonts.googleapis.com/css?family=Abel|Gruppo'
      rel='stylesheet'
      type='text/css'>

<script src='https://code.jquery.com/jquery-2.1.4.min.js'>
</script>

<!-- Load My Things - Favicon, Styling and jQuery -->
<link href='/favicon.ico'
      rel='shortcut icon' />

<link href='/css/simple.css'
      rel='stylesheet'
      type='text/css' />

<script src='/js/effects.js'>
</script>
